<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title><%= category.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Категорія: <%= category.name %></h1>

<% if (category.products && category.products.length > 0) { %>
    <h2>Товари:</h2>
    <ul>
        <% category.products.forEach(product => { %>
            <li>
                <strong><%= product.name %></strong> - <%= product.description %> - Ціна: <%= product.price %> грн
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>Товарів немає.</p>
<% } %>

<% if (subcategories && subcategories.length > 0) { %>
    <h2>Підкатегорії:</h2>
    <ul>
        <% subcategories.forEach(subcategory => { %>
            <li>
                <a href="/categories/<%= subcategory.id %>"><%= subcategory.name %></a>
            </li>
        <% }); %>
    </ul>
<% } %>

<a href="/categories">До списку категорій</a> | <a href="/">На головну</a>
</body>
</html>
