<ul>
    <% categories.forEach(category => { %>
        <li>
            <strong><a href="/categories/<%= category.id %>"><%= category.name %></a></strong>
            
            <% if (category.products && category.products.length > 0) { %>
                <ul class="products">
                    <% category.products.forEach(product => { %>
                        <li class="product-item">
                            <%= product.name %> - <%= product.description %> - <%= product.price %> грн
                        </li>
                    <% }); %>
                </ul>
            <% } %>
            
            <% if (category.children && category.children.length > 0) { %>
                <%- include('categoryTree', { categories: category.children }) %>
            <% } %>
        </li>
    <% }); %>
</ul>